<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/burgerstyle.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
  <title>Burger Eater!</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/assets/burgers.js"></script>
</head>
<body>
  {{{ body }}}
</body>
</html>
