<h1>The Burger App</h1>

<h2>A Top Secret Military Experiment Used to Devour Burgers Before Bedtime</h2>

<img src ="/assets/burger-image.jpg" alt="burger-image">

<h3>Add Burger to the Devour-izer</h3>
<form class="create-form">

  <div class="form-group">
    <label for="burgerInput">Burger Name:</label>
    <input type="text" id="burgerInput" name="burger_name">
  </div>

  <button type="submit">Add Burger</button>
</form>

<ul>
  {{#each burgers}}
    {{> burgers/burger-block}}
  {{/each}}
</ul>